@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Editor</title>
    <link href="@Url.Content("~/Styles/style.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="load-anim">
        <img src="@Url.Content("~/Images/loading-animation.gif")" alt="loading">
    </div>
    <div class="mask"></div>

    <form method="post" action="" class="modal createSequence">
        <div class="videoPanel">
            <p class="panelTitle">Видео</p>
            <div class="panelContent clear">
                <div class="headers">
                    <ul>
                        <li><label for="">Видео кодек</label></li>
                        <li><label for="">Ширина</label></li>
                        <li><label for="">Высота</label></li>
                        <li><label for="">Кадры в секунду</label></li>
                        <li><label for="">Пропорции</label></li>
                        <li><label for="">Оптим. кадры</label></li>
                        <li><label for="">Качество</label></li>
                    </ul>
                </div>
                <div class="fields">
                    <div class="wrap">
                        <select name="vCodec" class="dropdownList">
                            <option value="mpeg4">mpeg4</option>
                            <option value="acc_main">acc</option>
                            <option value="dts">dts</option>
                        </select>
                    </div>

                    <div class="wrap"><input name="width" type="text"></div>

                    <div class="wrap"><input name="height" type="text"></div>

                    <div class="wrap">
                        <select name="fps" class="dropdownList">
                            <option value="1">24</option>
                            <option value="2">25</option>
                            <option value="3">60</option>
                            <option value="4">90</option>
                        </select>
                    </div>

                    <div class="wrap">
                        <select class="dropdownList">
                            <option value="1">16:9</option>
                            <option value="2">16:10</option>
                        </select>
                    </div>

                    <div class="wrap"><input type="checkbox"></div>

                    <div class="wrap">
                        <div class="slider-range" id="slider-range"></div>
                        <p>
                            <input class="notinput" type="text" name="quality" readonly style="width:100px; border:0; color:#f6931f; font-weight:bold;">
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <div class="audioPanel">
            <p class="panelTitle">Аудио</p>
            <div class="panelContent clear">
                <div class="headers">
                    <ul>
                        <li><label for="">Аудио кодек</label></li>
                        <li><label for="">Частота</label></li>
                        <li><label for="">Битрейт</label></li>
                        <li><label for="">Каналы</label></li>
                        <li><label for="">Битрейт</label></li>
                    </ul>
                </div>
                <div class="fields">
                    <div class="wrap">
                        <select name="aCodec" class="dropdownList">
                            <option value="MP3">MP3</option>
                            <option value="FLAC">FLAC</option>
                            <option value="OFR">OFR</option>
                            <option value="WV">WV</option>
                        </select>
                    </div>

                    <div class="wrap">
                        <select name="frequency" class="dropdownList">
                            <option value="44100">44100 Hz</option>
                            <option value="48000">48000 Hz</option>
                            <option value="96000">96000 Hz</option>
                        </select>
                    </div>

                    <div class="wrap">
                        <select name="colorDepth" class="dropdownList">
                            <option value="1">24 bit</option>
                            <option value="2">32 bit</option>
                        </select>
                    </div>

                    <div class="wrap">
                        <select class="dropdownList">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="4">5</option>
                            <option value="4">6</option>
                        </select>
                    </div>

                    <div class="wrap">
                        <select name="bitrate" class="dropdownList">
                            <option value="4750">4750</option>
                            <option value="5900">5900</option>
                            <option value="6700">6700</option>
                            <option value="7950">7950</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="submitField">
            <div class="wrap">
                <p>Назвние проекта</p>
                <input type="text" name="projectName">
            </div>
            <input class="right" type="submit" value="Готово">
        </div>
    </form>

    <form method="post" action="" class="modal openSequence">
        <header>
            <img src="@Url.Content("img/logo.png")" alt="EDO" class="logo">
            <p>Выберите рабочий проект или создайте новый</p>
        </header>

        <ul class="projects">
            <li>
                <div class="img">
                    <img src="@Url.Content("img/project_prev.png")" alt="EDO">
                </div>

                <div class="info">
                    <div class="mainInfo">
                        <div class="name">2.mp4</div>
                        <div class="date">22.06.2017</div>
                    </div>

                    <div class="secondaryInfo">
                        <table>
                            <tr>
                                <td>Формат</td>
                                <td>Разрешение</td>
                                <td>Длительность</td>
                                <td>Кадры</td>
                            </tr>
                            <tr>
                                <td>MP4</td>
                                <td>320x240</td>
                                <td>00:15:09</td>
                                <td>24 fps</td>
                            </tr>
                        </table>

                        <div class="loadButton">Загрузить</div>
                    </div>
                </div>
            </li>
        </ul>

        <div class="newProject">Новый проект</div>
    </form>     

    <div class="wrapp">
        <div class="clear">
            <div class="left">
                <header class="mainHeader left">
                    <div class="logo left">

                    </div>

                    <ul class="left">
                        <li><a href="#">Файл
                            <ul>
                                <li>Создать</li>
                                <li class="openProjects">Открыть</li>
                                <li>Сохранить...</li>
                                <li>Импорт</li>
                                <li class="saveResult">Экспорт</li>
                                <li class="Settings">Настройки</li>
                            </ul>
                        </a></li>
                        <li><a href="#">Редактировать</a></li>
                        <li><a href="#">Эффекты</a></li>
                        <li><a href="#">Помощь</a></li>
                    </ul>

                    <div class="buttons right">
                        <button class="saveResult" download></button>
                        <button class="help"></button>
                    </div>
                </header>

                <div class="player left">
                    <header>
                        <p>video1.mp4</p>
                        <time>00:00:00</time>
                    </header>

                    <div id="videoPlayer">
                        <video>
                            <!--<source src="~/Uploads/video/Реклама скайпа.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>-->
                        </video>
                    </div>

                    <div class="videoControls">
                        <div class="progressBar">
                            <div class="innerProgressBar">
                                <span class="runner"></span>
                            </div>
                        </div>
                        <div class="buttons">
                            <time class="currentTime">00:00:00</time>
                            <ul>
                                <div class="volumeWrapp">
                                    <div class="volumeBar left">
                                        <div class="volumeLine"></div>
                                        <div class="volumeRunner"></div>
                                    </div>
                                </div>
                                <li class="mute"></li>
                                <li class="prevFrames"></li>
                                <li class="stop"></li>
                                <li class="prevFrame"></li>
                                <li class="playPause"></li>
                                <li class="nextFrame"></li>
                                <li class="screenShot"></li>
                                <li class="nextFrames"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--Для этого блока подключено контекстное меню "context-menu-id"-->
            <aside class="right tabPanel" contextmenu="context-menu-id">
                <ul class="tabHeader clear">
                    <li><a class="active" href="#files">Файлы</a></li>
                    <li><a href="#effects">Эффекты</a></li>
                </ul>

                <div class="tab" id="files">
                    <form action="" method="post">
                        <span>Загруженные файлы</span>
                        <label class="right">Импортировать<input type="file" name="load" id="uploadFiles" multiple></label>
                    </form>

                    <ul class="filesTile clear"></ul>
					
					<div class="tabScrollPanel">
						<div class="scrollArrowUp"></div>
						<div class="scrollArrowDown"></div>
						<div class="scrollTrack">
							<div class="scroller"></div>
						</div>
					</div>

                    <div class="fileProperties">
                        <div class="properties">
                        </div>
                        <div class="values">
                        </div>
                    </div>
                </div>

                <div class="tab clear" id="effects">
                    <div class="effectNames left">
                        <div class="colHeader">Эффект</div>

                        <div class="colBody">
                            <ul>
                                <li class="active">
                                    <h2>Видеоэффекты</h2>
                                    <ul>
                                        <li class="active">Цветовой баланс</li>
                                        <!--<li>Шум</li>
                                        <li>Перспектива</li>
                                        <li>Искажение</li>-->
                                    </ul>
                                </li>

                                <li class="active">
                                    <h2>Аудиоэффекты</h2>
                                    <ul>
                                        <li>Увеличение громкости</li>
                                    </ul>
                                </li>

                                <!--<li>
                                    <h2>Видеопереходы</h2>
                                    <ul>
                                        <li>1</li>
                                        <li>2</li>
                                        <li>3</li>
                                        <li>4</li>
                                    </ul>
                                </li>

                                <li>
                                    <h2>Аудиопереходы</h2>
                                    <ul>
                                        <li>1</li>
                                        <li>2</li>
                                        <li>3</li>
                                        <li>4</li>
                                    </ul>
                                </li>-->
                            </ul>
                        </div>
                    </div>

                    <div class="effectProperties left">

                        <div class="colHeader">Параметры эффекта</div>

                        <div class="colBody">
                            <div class="timeRow">
                                <div class="effectsRunner"></div>
                                <time>00;00;00</time>
                            </div>

                            <div class="property">
                                <div class="propertyHeader">Цвета</div>

                                <div class="propertyBody">
                                    <!--
                                    <div class="propertyPart">
                                        <h3>Уровень размытия <p contenteditable><span contenteditable>130</span>%</p></h3>
                                        <div class="propertyContent">
                                            <div class="hscroll"></div>
                                        </div>
                                    </div>

                                    <div class="propertyPart">
                                        <h3>Уровень размытия <p><span contenteditable>130</span>%</p></h3>
                                        <div class="propertyContent">
                                            <div class="hscroll"></div>
                                        </div>
                                    </div>-->
                                    <div class="propertyPart">
                                        <h3>Синий </h3>
                                        <div class="propertyContent">
                                            <div class="hscroll"></div>
                                            <p>1</p>
                                            <div class="slider-range ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" id="slider-range-blue"><div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-max" style="width: 100%;"></div><span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 0%;"></span></div>
                                        </div>

                                        <h3>Красный</h3>
                                        <div class="propertyContent">
                                            <div class="hscroll"></div>
                                            <p>1</p>
                                            <div class="slider-range ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" id="slider-range-red"><div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-max" style="width: 100%;"></div><span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 0%;"></span></div>
                                        </div>

                                        <h3>Зелёный </h3>
                                        <div class="propertyContent">
                                            <div class="hscroll"></div>
                                            <p>1</p>
                                            <div class="slider-range ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" id="slider-range-green"><div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-max" style="width: 100%;"></div><span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 0%;"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </aside>
        </div>
        <!--Для этого блока подключено контекстное меню "context-menu-id"-->
        <section class="squencePanel" contextmenu="context-menu-id">
            <div class="controlsRow clear">
                <div class="buttonsPanel clear left">
                    <div class="pointer"></div>
                    <div class="cut"></div>
                    <div class="hand"></div>
                </div>

                <div class="addRowButtons left">
                    <div class="addVideo">+</div>
                    <div class="addAudio">+</div>
                </div>

                <div class="scales left">
                    <div class="scale">
                        <ul class="clear">
                            <!-- <li>00:01:00</li>
                            <li>00:05:00</li>
                            <li>00:10:00</li>
                            <li>00:15:00</li>
                            <li>00:20:00</li> -->
                        </ul>
                    </div>

                    <div class="hasRowPanel"></div>
                </div>
            </div>

            <div class="sequenceFrame">
                <div class="controlVideoPanel clear">

                    <ul class="layoutControl left">
                        <li class="clear" data-layout-id="1">
                            <div class="showHide"></div>
                            <div class="blockUnblock"></div>
                        </li>

                        <li class="clear" data-layout-id="2">
                            <div class="showHide"></div>
                            <div class="blockUnblock"></div>
                        </li>

                        <li class="clear"  data-layout-id="3">
                            <div class="showHide"></div>
                            <div class="blockUnblock"></div>
                        </li>
                    </ul>

                    <div class="left lbl">V</div>

                    <div class="videoLayouts left">
                        <div class="videoLayout"  data-layout-id="1">
                            <!-- <div class="videoRow">
                                <p class="rowHeader">Video Name.avi</p>
                                <p class="effectsNum">Effects <span>2</span></p>
                                <img src="Images/1.png" alt="Video Name">
                            </div> -->
                        </div>
                        <div class="videoLayout"  data-layout-id="2">
                        </div>
                        <div class="videoLayout"  data-layout-id="3">
                        </div>
                    </div>
                </div>

                <div class="controlAudioPanel clear">

                    <ul class="layoutControl left">
                        <li class="clear"  data-layout-id="4">
                            <div class="muteSound"></div>
                            <div class="blockUnblock"></div>
                        </li>

                        <li class="clear"  data-layout-id="5">
                            <div class="muteSound"></div>
                            <div class="blockUnblock"></div>
                        </li>

                        <li class="clear"  data-layout-id="6">
                            <div class="muteSound"></div>
                            <div class="blockUnblock"></div>
                        </li>
                    </ul>

                    <div class="left lbl">A</div>

                    <div class="audioLayouts left">
                        <div class="audioLayout"  data-layout-id="4">
                            <!-- <div class="audioRow"></div>

                            <div class="audioRow"></div>

                            <div class="audioRow"></div> -->
                        </div>
                        <div class="audioLayout"  data-layout-id="5">
                            <!-- <div class="audioRow"></div>

                            <div class="audioRow"></div>

                            <div class="audioRow"></div> -->
                        </div>
                        <div class="audioLayout"  data-layout-id="6">
                            <!-- <div class="audioRow"></div>

                            <div class="audioRow"></div>

                            <div class="audioRow"></div> -->
                        </div>
                    </div>
					
					<div class="sequenceScrollbar">
						<div class="trackBar">
							<div class="scrollbar"></div>
						</div>
					</div>
					
                </div>
            </div>
        </section>
        <!--Контекстное меню "context-menu-id"-->
        <menu type="context" id="context-menu-id">
            <menuitem id="menu-edit-item" icon="Images/edit.png">Do something</menuitem>
            <menuitem id="menu-delete-item" icon="Images/deletered.png">Do something else</menuitem>
        </menu>
    </div>
    <script src="@Url.Content("~/Scripts/jquery-2.2.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.11.4.custom/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/download.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/baron.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/tabs.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/uicontrols.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/sequencePanelControls.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/videoControls.js")" type="text/javascript"></script>
    @*<script src="@Url.Content("~/Scripts/jquery-2.2.0.min.js")" type="text/javascript" defer></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.11.4.custom/jquery-ui.min.js")" type="text/javascript" defer></script>
	<script src="@Url.Content("~/Scripts/baron.min.js")" type="text/javascript" defer></script>
    <script src="@Url.Content("~/Scripts/videoControls.js")"  type="text/javascript" defer></script>
    <script src="@Url.Content("~/Scripts/tabs.js")" type="text/javascript" defer></script>
    <script src="@Url.Content("~/Scripts/sequencePanelControls.js")" type="text/javascript" defer></script>
    <script src="@Url.Content("~/Scripts/uicontrols.js")" type="text/javascript" defer></script>*@
    <!--Media data works-->
    <script src="@Url.Content("~/Scripts/localforage.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/mediaSender.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/custom.js")" type="text/javascript"></script>
</body>
</html>
